.single-bot {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.single-bot:hover {
    transform: scale(1.05);
}

.single-bot img {
    width: 35%;
    height: auto;
}

.single-bot p {
    margin: 5px 0;
}
